services:
  client:
    build: ./
    container_name: client_frontend
    ports:
      - '5173:5173'
    volumes:
      - ./:/app
      - node_modules:/app/node_modules
    working_dir: /app
    stdin_open: true
    tty: true

volumes:
  node_modules:
